@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  display: block;
  background-color: transparent;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: #4f46e5;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #3730a3;
}

button {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  font-family: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(99, 102, 241, 0.5);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(99, 102, 241, 0.8);
}

@media (prefers-color-scheme: dark) {

  html,
  body {
    background-color: #0f172a;
  }
}

@media (prefers-color-scheme: light) {

  html,
  body {
    background-color: #f9fafb;
  }
}